* {
    font-family: 'Noto Sans KR', sans-serif;
}
html{
    border-top: 10px solid #1E9E9E;
    margin: 0 auto;
    justify-content: center;
    max-width: 768px;
    min-width: 360px;
    background-color: #F2EEEE;
}

.picks{
    margin-top: 16px;
    height: 40px;
    width: 97%;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    border-radius:20px;
    box-shadow: 20px 20px 20px #cbced1,
                -5px -5px 10px #ffffff;
}    

.pick1{
    margin-top: 3px;
    text-align: center;
    width: 150px;
    height: 20px;
    border-radius:20px;
    line-height: 24px;
    background-color: rgb(70, 107, 209);
    box-shadow: 2px 5px 3px #969696, 
                2px -5px 3px #ffffff;
}

.pick1:active{
    background-color: transparent;
    box-shadow: inset -1px -1px 1px #969696,
                inset 3px 3px 10px #ffffff;  
}


.pick2{
    margin-top: 3px;
    text-align: center;
    width: 150px;
    height: 20px;
    border-radius:20px;
    line-height: 24px;
    background-color: #1E9E9E;
    box-shadow: 1px 5px 3px #969696, 
                1px -5px 3px #ffffff;
}

.pick2:active{
    background-color: transparent;
    box-shadow: inset -1px -1px 1px #969696,
                inset 3px 3px 10px #ffffff;  
}


a {
    font-size: 18px;
    padding-bottom : 10px;
    color: white;
    text-shadow: black 1px 1px 1px;
    text-decoration: none;
    list-style: none;
    border-radius: 30px;
}

.birthfav{
    margin-top: 30px;
    width: 100%;
    height: 30px;
    letter-spacing: 0.2em;
    color: #808080;
    font-size: 16px;
    text-align: center;
}

::placeholder{
    font-size: 16px;
    color: rgb(151, 144, 144);
}

.form_{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 99%;
    height: 100px;
    border-radius: 28px;
    text-align: center;
    align-items: center; 
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #ffffff;
}

.form_ input{
    border: none;
    outline: none;
    width: 100px;
    background: none;
    font-size: 20px;
    text-align: center;;
    color: #555;
    padding: 20px 10px 20px 5px;
}

.inputs {
    border-radius: 25px;
    width: 100px;
    box-shadow: inset 1px 1px 3px #cbced1,
                inset -1px -1px 10px #ffffff;
}

.button{
    width: 80px;
    height: 80px;
    color: #28818d;
    font-size: 18px;
    text-align: center;
    line-height: 75px;
    border-radius: 14px;
    background: linear-gradient(145deg, #ffffff, #dad6d6);
    box-shadow:  14px 14px 28px #cecaca, 
                 -14px -14px 28px #ffffff;
}


.button:hover{
    background: lightgray;
    background-color:transparent;
    color: red;
    background: linear-gradient(145deg, #dad6d6, #ffffff);
    box-shadow:  14px 14px 28px #cecaca, 
                 -14px -14px 28px #ffffff;
}


.button:active{
    background: lightgray;
    background-color:transparent;
    color: red;
    background: linear-gradient(145deg, #dad6d6, #ffffff);
    box-shadow:  14px 14px 28px #cecaca, 
                 -14px -14px 28px #ffffff;
}

.picknumber{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    color: red;
    font-size: 24px;
    text-align: center;
    line-height: 35px;
    background-color:transparent;
    box-shadow: 1px 1px 3px #000000,
                3px -3px 10px #ffffff;   
    transition: 0.5s;
}

.picknumber:active{
    background: lightgray;
    background-color:transparent;
    box-shadow: inset -1px -1px 1px #969696,
                inset 3px 3px 10px #ffffff;  
}


.contents_blank{
    height: 10px;

}
.disc{
    color: grey;
    font-size: 12px;
    margin-top: 15px;
    text-align: center;

}

.recmdtable{
    font-size: 16px;
    color: #808080;
    margin-bottom: 10px;
    letter-spacing: 0.2em;
    text-align: center;
}

.no_table{
    width: 99%;
    height: auto;
    padding: 15px 0 15px 0;
    border-radius: 28px;
    font-size: 20px;
    line-height: 2em;
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #ffffff;
}

.ball_tables{
    display: flex;
    height: 40px;
    width: 100%;
    font-size: 20px;
    justify-content: space-evenly;
}

.balls{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 36px;
    color: black;
    background:transparent;
    transition: 0.5s;
    box-shadow: 1px 1px 1px #000000,
                -3px -3px 10px #ffffff; 
}

.menu{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 80%;
    left: 10%;
    bottom: 30px;
    max-width: 768px; 
}
