
* {
    font-family: 'Noto Sans KR', sans-serif;
}

html{
    border-top: 10px solid #1E9E9E;
    margin: 0 auto;
    justify-content: center;
    max-width: 768px;
    min-width: 360px;
    background-color: #F2EEEE;
}

.picks{
    margin-top: 16px;
    height: 40px;
    width: 97%;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    border-radius:20px;
    box-shadow: 20px 20px 20px #cbced1,
                -5px -5px 10px #ffffff;
}    

.pick1{
    margin-top: 3px;
    text-align: center;
    width: 150px;
    height: 20px;
    border-radius:20px;
    line-height: 24px;
    background-color: rgb(70, 107, 209);
    box-shadow: 2px 5px 3px #969696, 
                2px -5px 3px #ffffff;
}

.pick1:active{
    background-color: transparent;
    box-shadow: inset -1px -1px 1px #969696,
                inset 3px 3px 10px #ffffff;  
}


.pick2{
    margin-top: 3px;
    text-align: center;
    width: 150px;
    height: 20px;
    border-radius:20px;
    line-height: 24px;
    background-color: #1E9E9E;
    box-shadow: 1px 5px 3px #969696, 
                1px -5px 3px #ffffff;
}

.pick2:active{
    background-color: transparent;
    box-shadow: inset -1px -1px 1px #969696,
                inset 3px 3px 10px #ffffff;  
}

.num4chk{
    display: flex;
    font-size: 22px;
    width: 99%;
    margin: -10 auto;
    justify-content: space-around;
}

/* -------------------- codepen ------------------------ */
@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
	--checkbox-size: 25px;
	--bg-color: #FFA69E;
	--checkbox-color: #1E9E9E;
	--hover-color: rgb(107, 104, 255);
	--tick-color: #84DCC6;
}

label {
	display: inline-block;
  	margin: 0 calc(var(--checkbox-size) * 0.3);
	width: var(--checkbox-size);
	height: var(--checkbox-size);
	margin-top: 1em;
	border: calc(var(--checkbox-size) * 0.025) solid var(--checkbox-color);
	border-radius: 30.5%;
	-webkit-transition: 400ms 100ms ease-out;
	-o-transition: 400ms 100ms ease-out;
	transition: 400ms 100ms ease-out;

}

label:hover {
	border-color: var(--hover-color);
}

input[type="checkbox"] {
	position: absolute;
	left: -1000px;
}

.tick {
	position: relative;
	right: calc(var(--checkbox-size) * -0.5);
	top: calc(var(--checkbox-size) * -0.25);
	width: calc(var(--checkbox-size) * 0.25);
    height: calc(var(--checkbox-size) * 0.75);
    margin-top: -1.5em;
	border-right: calc(var(--checkbox-size) * 0.25) solid var(--tick-color);
	border-bottom: calc(var(--checkbox-size) * 0.25) solid var(--tick-color);
	-webkit-transform: rotate(45deg) scale(0);
	    -ms-transform: rotate(45deg) scale(0);
	        transform: rotate(45deg) scale(0);
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
	-o-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
	transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
}

.tick:before {
	content: '';
	position: absolute;
	left: calc(var(--checkbox-size) * -0.125);
	bottom: calc(var(--checkbox-size) * -0.25);
	border: calc(var(--checkbox-size) * 0.125) solid var(--tick-color);
	border-radius: 50%;
}

.tick:after {
	content: '';
	position: absolute;
	right: calc(var(--checkbox-size) * -0.25);
	top: calc(var(--checkbox-size) * -0.125);
	border: calc(var(--checkbox-size) * 0.125) solid var(--tick-color);
	border-radius: 50%;
}

input[type="checkbox"]:checked + label .tick {
	opacity: 1;
	-webkit-transform: rotate(45deg) scale(1);
	    -ms-transform: rotate(45deg) scale(1);
	        transform: rotate(45deg) scale(1);
}

input[type="checkbox"]:focus + label {
	-webkit-animation-name: cb-pop;
	        animation-name: cb-pop;
	-webkit-animation-duration: 400ms;
	        animation-duration: 400ms;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}

@-webkit-keyframes cb-pop {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	33% {
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}
	66% {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
	100% {
		tranform: scale(1);
	}
}

@keyframes cb-pop {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	33% {
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}
	66% {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
	100% {
		tranform: scale(1);
	}
}


a {
    font-size: 18px;
    padding-bottom : 10px;
    color: white;
    text-shadow: black 1px 1px 1px;
    text-decoration: none;
    list-style: none;
    border-radius: 30px;
}


.num_select{
    font-size: 16px;
    color: #808080;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 10px;
}

.checkboxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 99%;
    height: auto;
    border-radius: 28px;
    text-align: center;
    align-items: center; 
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #ffffff;}

.chooseexcpt{
    margin-top: 30px;
    margin-bottom: 10px;
}

.recmdtable{
    font-size: 16px;
    color: #808080;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.no_table{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 99%;
    height: 128px;
    border-radius: 28px;
    text-align: center;
    align-items: center; 
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #ffffff;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 80%;
    left: 10%;
    bottom: 30px;
    max-width: 768px; 
}
