* {
    font-family: 'Nanum Gothic', sans-serif;
}
html{
    border-top: 10px solid #1E9E9E;
    margin: 0 auto;
    justify-content: center;
    max-width: 768px;
    min-width: 360px;
    background-color: #F2EEEE;
}
body{
    display: block;
}


.picks{
    margin-top: 15px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5px;

}

a {
    font-size: 24px;
    color: #1e9e9e;
    text-decoration: none;
    list-style: none;
}

.chooseauto{
    font-size: 16px;
    color: #808080;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.chooseball{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 95%;
    height: 128px;
    border-radius: 28px;
    text-align: center;
    align-items: center; 
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #ffffff;}

.chooseexcpt{
    margin-top: 30px;
    margin-bottom: 10px;
}

.recmdtable{
    font-size: 16px;
    color: #808080;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.no_table{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 95%;
    height: 128px;
    border-radius: 28px;
    text-align: center;
    align-items: center; 
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #ffffff;
}

a {
    font-size: 24px;
    color: #1e9e9e;
    text-decoration: none;
    list-style: none;
}


.menu{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 80%;
    left: 10%;
    bottom: 30px;
    max-width: 768px; 
}